@model WordTrainer.Models.Word

<!--Main Page Content-->
<div class="container top-15">

    <h3 class="h3 text-center">Add new word right here</h3>

    <form id="addForm" method="post">
        <div class="form-group">
            <label asp-for="Text">Word</label>
            <input class="form-control" type="text" name="Text" asp-for="Text" />
        </div>

        <div class="form-group">
            <label asp-for="Transcription">Transcription</label>
            <input class="form-control" type="text" name="Transcription" asp-for="Transcription" />
        </div>

        <div class="form-group">
            <label asp-for="Translation">Translation</label>
            <input class="form-control" type="text" name="Translation" asp-for="Translation" />
        </div>

        <div class="form-group">
            <label asp-for="Examples">Examples</label>
            <textarea name="Examples" cols="50" class="form-control" rows="4" asp-for="Examples"></textarea>
        </div>

        <div class="form-group">
            <input id="submitButton" data-toggle="modal" data-target="#exampleModalLive" class="btn btn-info btn-lg" value="Add" />
        </div>
    </form>
</div>

<!--Modal Window Content-->
<div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel">Submit Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalTranslation">Translation</p>
                <p id="modalTranscription">Transcription</p>
                <p id="modalExamples">Examples</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btnModalAdmit" type="button" data-dismiss="modal" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/jquery.min.js"></script>


<script>
    var text = document.getElementsByName("Text")[0];
    var examples = document.getElementsByName("Examples")[0];
    var translation = document.getElementsByName("Translation")[0];
    var transcription = document.getElementsByName("Transcription")[0];

    $(document).ready(function () {

        $('#submitButton').click(function () {
            var exampleModalLiveLabel = document.getElementById("exampleModalLiveLabel");
            var modalTranslation = document.getElementById("modalTranslation");
            var modalExamples = document.getElementById("modalExamples");
            var modalTranscription = document.getElementById("modalTranscription");

            exampleModalLiveLabel.innerText = text.value;
            modalTranslation.innerText = translation.value;
            modalExamples.innerText = examples.value;
            modalTranscription.innerText = transcription.value;
        });

        $('#btnModalAdmit').click(function () {
          $.ajax({

            url: "@Url.Action("Add", "Words")",
            type: "POST",
              data: $('#addForm').serialize(),
            dataType: "html",
            success: function (data) {
                result = $.parseJSON(data);
                //console.log(result);
                text.value = "";
                examples.value = "";
                translation.value = "";
                transcription.value = "";
            },
            failure: function () {
                console.log("error");
            }
        });
        });
    });
</script>


<script>
    var submitButton = document.getElementById("submitButton");
    var inputText = document.getElementsByName("Text")[0];
    var inputTranslation = document.getElementsByName("Translation")[0];
    var inputExamples = document.getElementsByName("Examples")[0];
    var inputTranscription = document.getElementsByName("Transcription")[0];

    // Adding events listeners
    function submitButtonAutoPress(event) {
        if (event.ctrlKey && event.keyCode == 13) {
            submitButton.click();
        }
    }
    inputExamples.addEventListener("keyup", submitButtonAutoPress);


    // Checking
    function submitButtonCallback(event) {
        if (inputText.value == "" || inputTranslation.value == "" || inputExamples.value == "") {
            event.preventDefault();
        }
        else {
            inputText.value = inputText.value.replace(/[<|>|\[|\]|(|)|{|}|\/\\;:_\.=]/gi, "");
            inputTranscription.value = inputTranscription.value.replace(/[<|>|{|}|\/\\;_\.=]/gi, "");
            inputTranslation.value = inputTranslation.value.replace(/[<|>|\[|\]|(|)|{|}|\/\\;:_\.=]/gi, "");

            inputExamples.value = inputExamples.value.replace(/[<|>|\[|\]|(|)|{|}|\/\\;:_\.=]/gi, "")
                .split("\n").filter(p => p != "").join("*");
        }
    }
    submitButton.addEventListener("click", submitButtonCallback);
</script>