<!--Words/Index-->
@model IEnumerable<WordTrainer.Models.Word>

<div class="container top-15">
    <table class="table table-light table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Word</th>
                <th>Translate</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td class="font-weight-bold">                                        
                            <h6 class="h6">@item.Text</h6>
                        </td>
                        <td>@item.Translation</td>
                    </tr>
                    <tr>
                        <td class="font-italic text-right">Examples:</td>
                        <td>@item.Examples</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

