<!--Words/Index-->
@model IEnumerable<WordTrainer.Models.Word>
    <div class="container top-15" alphabet-paging></div>
<div class="container top-15">
      @{                 
          foreach (var item in Model)
          {
              @await Html.PartialAsync("WordSummary", item);
          }
      }
</div>

<script>
    // Set date from Model to localStorage
    localStorage.clear();
    var model = '@Json.Serialize(@Model)';
    localStorage.setItem("model", model);
</script>