
<div class="container top-15">
        <div class="form-group row d-flex justify-content-center">
            <input type="text" id="searchBox" class="form-control col-sm-9 mx-2" placeholder="Enter word here" />
            <button id="btnSearch" type="button" class="btn btn-info mx-2 col-sm-2">Search</button>
        </div>
</div>


<div id="word-presenter" class="container mt-5 px-5">
    <h3 id="wordBox"></h3>
    <span id="transcriptionBox"> </span>
    <hr />
    <p id="translationBox" class="font-italic text-left"></p>
    <p name="title" class="font-italic d-none">Examples:</p>
    <div id="examplesBox" class="text-left"></div>
</div>



<script type="module">

    import { Word } from '/js/script.js';
    // Gets data from local storage
    var temp = JSON.parse(localStorage.getItem("model"));
    // var arr = [];
    var dict = new Map();
    for (const i of temp) {
        // arr.push(Word.parse(i));
        dict.set(i['text'].toLowerCase(), Word.parse(i));
    }
    var ammount = dict.size;

    // Gets elements
    var searchBox = document.getElementById("searchBox");
    var btnSearch = document.getElementById("btnSearch");
    var wordBox = document.getElementById("wordBox");
    var translationBox = document.getElementById("translationBox");
    var examplesBox = document.getElementById("examplesBox");
    var wordPresenter = document.getElementById("word-presenter");
    var transcriptionBox = document.getElementById("transcriptionBox");
    // Set focus on searchBox
    searchBox.focus();

    // Adds EventListener for 'Enter' key press
    searchBox.addEventListener("keyup", function (e) {
        if (e.keyCode == 13) {
            btnSearch.click();
        }
    });

    // Adds event listener to 'btn'
    btnSearch.addEventListener("click", btnSearchClick);
    function btnSearchClick(event) {
        // If trans is empty - interrupt event executing
        if (searchBox.value === "") {
            event.preventDefault();
        }
        else {
            // If translation is right
            var word = "";
            var searchWord = searchBox.value.replace(/[<|>|\[|\]|(|)|{|}|\/\\;:_\.=]/gi, "").trim().toLowerCase();
            if (dict.has(searchWord) == true) {
                word = dict.get(searchWord);
                var titleBox = document.getElementsByName("title");
                for (var item of titleBox) {
                    item.className = "font-italic d-block";
                }
                wordBox.innerHTML = word.text;
                translationBox.innerHTML = "<span>&#10004;</span>" + word.translation;

                transcriptionBox.innerHTML = (function () {
                    if (word.transcription != null) {
                        return `[${word.transcription}]`;
                    }
                    return "";
                })();

                examplesBox.innerHTML = (function () {
                    if (word.examples != null){
                        var res = "";
                        var examples = word.examples.split("*");
                        for (var i = 0; i < examples.length; i += 2) {
                            let str = examples[i].trim() + " - " + examples[i + 1].trim();
                            res += `<p><span>&#10004;</span> ${str.trim() === "" ? "There are not more examples" : str.trim()}</p>`;
                        }
                        return res;
                    }   
                    return "There is no any examples";
                })();
                wordPresenter.setAttribute("style", "display:block");
                searchBox.value = "";
                searchBox.focus();
            }
            else {
                wordBox.innerText = "Such word does not exist in the storage";
                searchBox.focus();
                wordPresenter.setAttribute("style", "display:none;");
                event.preventDefault();
            }
        }
    } 
</script>


    