@model IEnumerable<WordTrainer.Models.Word>

<div class="container">
    <div class="form-group">
        <h3>word</h3>
    </div>

    <form asp-action="Checking" asp-controller="Home" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="trans" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>


</div>

<div id="output">

</div>

<script>
    alert("from new file");



var temp = JSON.parse('@Json.Serialize(@Model)');
var arr = [];
for (const i of temp) {
    arr.push(Word.parse(i));
}
    var rnd = Math.random();
    console.log(rnd);
    console.log(arr[0].text);
    
</script>
