<!--The main page: Home/Index-->

@model IEnumerable<WordTrainer.Models.Word>
@using WordTrainer.Models;

<br />

<!--
<div class="container mt-5">
    {
        if (Model == null)
        {
            <h3>Dictionary is empty!</h3>
        }
        else
        {
            <table class="table table-striped table-bordered table-hovered">
                <thead class="bg-primary">
                    <tr >
                        <th class="text-center">Word</th>
                        <th class="text-center">Translation</th>
                        <th class="text-center">Examples</th>
                    </tr>
                </thead>
                <tbody>
                    foreach (var item in Model)
                    {
                    <tr>
                        <td class="font-weight-bold">item.Text</td>
                        <td>item.Translation</td>
                        <td>item.Examples</td>
                    </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>
-->


<script>
    // Set date from Model to localStorage
    var model = '@Json.Serialize(@Model)';
    localStorage.setItem("model", model);
</script>