<!--The main page: Home/Index-->

@model IEnumerable<WordTrainer.Models.Word>
@using WordTrainer.Models;

<div class="container top-15">
    <div class="jumbotron text-center">
        <h1 class="display-4">Words Trainer</h1>
        <p class="lead">This website allows you to train your memory. </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h3>Trainer ENG</h3>
            <p class="text-justify">
                Click 'Trainer ENG' in the menu above to check how you know different English words
                and phrases.
            </p>
            <p><a asp-action="TrainEn" asp-controller="Home" class="btn btn-secondary">Go ahead</a></p>
        </div>
        <div class="col-sm-3">
            <h3>Trainer RUS</h3>
            <p  class="text-justify">
                Click 'Trainer RUS' in the menu above to check out your English vocabulary.
            </p>
            <p><a asp-action="TrainRu" asp-controller="Home" class="btn btn-secondary">Go ahead</a></p>
        </div>
        <div class="col-sm-3">
            <h3>Add Word</h3>
            <p  class="text-justify">
                Click 'Add' in the menu above to add you own new English words and phrases.
            </p>
            <p><a asp-action="AddWord" asp-controller="Words" class="btn btn-secondary">Go ahead</a></p>
        </div>
        <div class="col-sm-3">
            <h3>Search</h3>
            <p  class="text-justify">
                Click 'Search' in the menu above to search a neccessary word into your vocabulary.
            </p>
            <p><a asp-action="Search" asp-controller="Words" class="btn btn-secondary">Go ahead</a></p>
        </div>
    </div>
    <div class="row">
        <div class="container">
                <p class="h6 text-center mt-3 text-secondary">@await Component.InvokeAsync("PocoSummary")</p>
        </div>
    </div>
</div>


<script>
    // Set date from Model to localStorage
    var model = '@Json.Serialize(@Model)';
    localStorage.setItem("model", model);
</script>