@model IEnumerable<WordTrainer.Models.Word>


<div class="container top-15">

    <div class="py-2 pb-4">
        <div class="progress" style="height: 20px;">
            <div id="scores" class="progress-bar bg-info" role="progressbar"
                 style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

    <div class="form-group pb-0">
        <div class="row">
            <div class="col-12 text-center ">
                <h3 class="h3  text-secondary" id="word"
                    style="font-size: 20pt;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"></h3>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="text" class="form-control text-center"
               style="font-size: 20pt; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" name="trans" id="trans" />
    </div>

    <div class="form-group text-center">
        <button type="button" class="btn btn-default btn-lg mx-2" id="btnExample"
                data-toggle="tooltip" data-placement="left" title="Show examples">
            <span>&#8801</span>
        </button>
        <button type="submit" class="btn btn-info btn-lg mx-2" id="btnCheck">Check</button>
        <button type="button" class="btn btn-default btn-lg mx-2" id="btnTranslate"
                data-toggle="tooltip" data-placement="right" title="Show translation">
            <span>&#8801</span>
        </button>
    </div>
    <div class="container text-center">
        <button class="btn btn-default" id="btnStartOver"
                data-toggle="tooltip" data-placement="left" title="Let's start again!">
            Start Over
        </button>
    </div>
    <br />

    <div id="toolTip" class="form-group">
        <!--This is a place for translation and examples-->
    </div>

    <div id="wrongWordsTable" class="form-group invisible" disabled="disabled">
        <!--This is a place for wrong words table-->
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>Word</th>
                    <th>Wrong&rarr;Rigth</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                
            </tbody>
        </table>
    </div>
</div>


<script>
    // Set date from Model to localStorage
    localStorage.clear();
    var model = '@Json.Serialize(@Model)';
    localStorage.setItem("model", model);
</script>
    
<script type="module">

    import { Word } from '/script.js';

    var wordBox = document.getElementById("word");
    var transBox = document.getElementById("trans");
    var btnExample = document.getElementById("btnExample");
    var btnCheck = document.getElementById("btnCheck");
    var btnTranslate = document.getElementById("btnTranslate");
    var scores = document.getElementById("scores");
    var toolTip = document.getElementById("toolTip");
    var btnStartOver = document.getElementById("btnStartOver");
    var tableBody = document.getElementById("tableBody");
    var wrongWordsTable = document.getElementById("wrongWordsTable");
    // Storage for wrong answers
    var wrongAnswer = new Map();

    // Adds EventListener for 'Enter' key press
    trans.addEventListener("keyup", function (e) {
        if (e.keyCode == 13) {
            btnCheck.click();
            this.value = "";
        }
    });

    // Gets data from local storage and casts them to Word instances
    var temp = JSON.parse(localStorage.getItem("model"));
    var arr = [];

    for (const i of temp) {
        arr.push(Word.parse(i));
    }

    // Words ammount 
    var ammount = arr.length;
    
    // Create Set of unique values
    var uniqueSet = new Set();
    var crowlerArray = [];
    function createUniqueSet() {
        uniqueSet = new Set();
        crowlerArray = [];
        while (uniqueSet.size < ammount) {
            var num = Math.floor(Math.random() * ammount);
            uniqueSet.add(num);
        }
        uniqueSet.forEach(p => crowlerArray.push(p));
    }
    createUniqueSet();

    // actions 
    var counter = 0;
    var points = 0;
    // Start train again
    btnStartOver.addEventListener("click", function (event) {
        createUniqueSet();
        counter = 0;
        points = 0;
        scores.style.width = 0 + '%';
        scores.attributes["aria-valuenow"].value = 0;
        scores.innerText = "";
        transBox.removeAttribute("disabled", "true");
        wrongWordsTable.className = "form-group invisible";
        wrongAnswer.clear();
        load();
    });


    
    // Loads new word in trainer
    // Crearing form's input 'transBox'
    function load() {
        counter = crowlerArray.pop();
        if (counter != undefined) {
            var question = arr[counter].translation.split(",");
            wordBox.innerText = question[Math.floor(Math.random() * question.length)];
            transBox.value = "";
            toolTip.innerHTML = "";
            transBox.focus();
        }
        else {
            wordBox.innerText = `It's done! \r right: ${points}, wrong: ${ammount - points}`;
            transBox.value = "";
            toolTip.innerHTML = "";
            transBox.setAttribute("disabled", "true");

            if (wrongAnswer.size !== 0) {
                var html = "";
                for (var item of wrongAnswer) {
                    html += "<tr><td>" + item[0] + "</td><td>" + item[1] + "</td></tr>";
                }
                tableBody.innerHTML = html;
                wrongWordsTable.className = "form-group visible";
            }
        }
    }
    load();

    // Adds EventListener for 'btnCheck' on 'click'
    btnCheck.addEventListener("click", btnCallback);

    // Main 'btn' function
    function btnCallback(e) {
        // Gets value from 'transBox'
        var trans = transBox.value.toLowerCase().trim().replace(/[<|>|\[|\]|(|)|{|}|\/\\;:_\.=]/gi, "");
        // if trans is empty - interrupt event executing
        if (trans === "") {
            e.preventDefault();
        }
        else {
            // If translation is right
            if (arr[counter].text.toLowerCase() === trans || arr[counter].text.toLowerCase() === " " + trans) { 
                // Progress Bar section
                points += 1;
                var tempScores = points * 100 / ammount;
                scores.innerText = tempScores.toFixed(1) + '%';
                scores.style.width = tempScores + '%';
                scores.attributes["aria-valuenow"].value = tempScores;
                load();
                transBox.value = "";
            }
            // If translation is not right
            else {
                wrongAnswer.set(wordBox.innerText, trans + `&rarr;<b>${arr[counter].text.toLowerCase()}</b>`);
                load();
            }
        }
    }


    // Adds EventListener for 'btnTranslate'
    btnTranslate.addEventListener("click", function (event) {
        toolTip.innerHTML = "<p><span>&#10004;</span>" + arr[counter].translation + "</p>";
    });

    // Adds EventListener for 'btnExample'
    btnExample.addEventListener("click", function (event) {
        toolTip.innerHTML = "";
        var temp = arr[counter].examples.split("*").filter(p => p !== " ");
        for (var i = 0; i < temp.length; i += 2) {
            let str = temp[i].trim() + " - " + temp[i + 1].trim();
            toolTip.innerHTML += `<p><span>&#10004;</span> ${str.trim() === "" ? "There are not more examples" : str.trim()}</p>`;
        }    });
</script>
